body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{

}
.shadowtext{
    text-shadow: 1px 3px 2px white, 0 0 1em red;
    color: #210042;
    font-size: 2em;
}
.header{
    text-align: center;
}
.header-link{
    margin: 20px 20px;
}
.form{
    padding: 10px;
    border-radius: 10px;
}
.form-input{
    border-radius: 10px;
}